                body {
                    margin: 1% 5% 1% 5%;
                    text-align: justify;
                    background-color: #225378;
                    font-family: 'Times New Roman', serif;
                    color: #225378;
                }

                div.navigation-menu {
                    background-color: #EB7F00;
                    margin: -1em -5em 1em -5em;
                    padding: 1em
                }

                th, tr {
                    padding: 0 1.5em 0 1.5em;
                }
                
                div.main-page {
                    text-align: center;
                    margin-top: 1em;
                    border: solid 1px #F3FFE2;
                    border-radius: 10px;
                    box-shadow: 0 0 10px #F3FFE2 inset;
                    background-color: #F3FFE2;
                    font-weight: bold;
                }
                
                h1 {
                    background-color: #EB7F00;
                    margin-top: -2.5px;
                    padding: 10px 10px 10px 10px;
                    border-radius: 10px;
                    color: #F3FFE2;
                }
                
                p {
                    padding: 15px 15px 15px 15px;
                    margin: 3% 5% 3% 5%;
                    text-align: center;
                    font-size: 25px;
                    border: solid 1px #1695A3;
                    padding: 15px 15px 15px 15px;
                    border-radius: 10px;
                    box-shadow: 0 0 10px #1695A3 inset;
                    background-color: #ACF0F2;
                }
                
                a {
                    text-decoration: none;
                    color: #225378;
                }
                
                a:visited {
                    color: #225378;
                }
                
                a:hover {
                    color: #F3FFE2;
                }